/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-lb-qlb-post-meta {
	background-color: #f1f1f1;
	padding: 5px !important;

	p {
		margin: 0 !important;
	}
}
